# This file can be used to override docker-compose.yml settings for local development.
# It is ignored by Git (.gitignore).
#
# Example:
# services:
#   django:
#     volumes:
#       - ./backend/local_settings.py:/app/django_order_app/local_settings.py
#     environment:
#       DJANGO_SETTINGS_MODULE: django_order_app.local_settings
#   fastapi:
#     ports:
#       - "8002:8001" # Expose FastAPI on a different port locally
# volumes:
#   pg_data:
#     name: my_custom_pg_data
